<!-- <p>ingredients works!</p> -->
<div [formGroup]="ingredientsForm">
    <div class="row">
      <div class="col-8">
        <h1>Ingredients</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <label>Ingredient Name:</label>
        <mat-form-field appearance="outline" class="">
          <input formControlName="ingredientsName" matInput>
        </mat-form-field>
      </div>
      <div class="col-4">
        <button mat-button (click)="createPost()">Add</button>
        <!-- <button *ngIf="this.dataTransfer.ingredients" mat-button>Finish</button> -->
      </div>
    </div>
  </div>
