<!-- <p>search works!</p> -->
<div class="row">
    <div class="col-12">
      <h1>Search</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <label>Country Name:</label>
      <mat-form-field appearance="outline" class="">
        <input #country matInput>
      </mat-form-field>
    </div>
    <div class="col-5">
      <label>Food Name:</label>
      <mat-form-field appearance="outline" class="">
        <input #food matInput>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button mat-button (click)="searchIngredientsBy(country.value, food.value)">Search</button>
    </div>
  </div>
  <div class="row text-center" *ngIf="ingredientsResults.length > 0">
   <h2 class="text-center">Country {{ country.value}} - Ingredients for {{food.value}}</h2>
    <div class="col-12" *ngFor="let ing of ingredientsResults">
      <h2>{{ing.ingredientName}}</h2>
    </div>
  </div>
  